@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

$primary-color: #181818;
$button-color: #f96816;
$featured-color: yellow;

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Trebuchet MS', 'Montserrat', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    // display: none; 
}

header{
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: calc(100vw);
    background: white;

    a{
        text-decoration: none;
        color: black;
    }

    a.logo {
        font-weight: bold;
        text-transform: uppercase;
    }

    nav ul{
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;

        li a{
            padding: 1em;
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: auto;

    section{
        padding: 3em;

        h1, h2, read-btn{
            text-transform: uppercase;
            margin: 0;
        }

        h2{
            font-size: 1.2rem;
        }

        .read-btn{
            text-decoration: none;
            color: black;
            font-weight: bold;
            background: url('../images/arrow.svg') no-repeat;
            background-size: 8px;
            background-position: 0 1px;
            padding-left: 1em;
        }

        .primary{
            padding: 1.5em 1.5em 1.5em calc(3em + 25px);
            background-position: 3em;
            border: 1px solid grey;
            display: inline-block;
            margin-top: 3em;
            margin-left: -3em;
            color: whitesmoke;
        }

        .clipper{
            overflow: hidden;

        }
    }

    section.hero {
        padding: 8em 8em 8em 2em;
        background: url('../images/programming-3201149_960_720.png');
        background-size: cover;
        color: whitesmoke;

        p{
            width: 70%;
            font-size: 1.2rem;
            margin-bottom: 0;
        }

        h1 {
            font-size: 2.2rem;
        }
    }


    section.featured, section.explore {
        font-size: .9rem;
        line-height: 1.6em;
    }

    section.featured {
        background-color: $featured-color;
        
        .read-btn{
            margin-top: 2em;
            display: block;
            background-position: 0 .2em;
        } 
    }

    section.explore {

        button{
            margin: 1em 0 1em 0;
            width: 100%;
            background: $button-color;
            border: none;
            color: white;
            padding: 1em;
            font-family: inherit;
        }
    }
}

@media only screen and (min-width: 768px){
    html {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1020px){
    html{
        font-size: 1.3rem;
    }
    header {
        background: none;
        width: calc(100vw - 1em);
        
        .logo {
            color: white;
        }

        nav ul li a{
            color: ghostwhite;
        }
    }
    .fullscreen{
        .featured-section{
            padding: 3rem 0 8rem 0;
        }
    }
    .wrapper {
        grid-template-columns: 72.5% auto;
        grid-template-rows: 60% auto;
        grid-template-areas:
            "hero featured" 
            "hero explore";
        height: 100vh;
    }

    section.hero {
        grid-area: hero;
    }

    section{ 
        display: grid;
        grid-template-rows: auto;
        align-items: center;
    }

    .personal-statement{
        text-align: justify;
        width: 80%;

    }
    .about{
        grid-template-columns: 85% auto;
        grid-template-areas:
            "experience technical-skills"
            "education technical-skills";
            height:100%;
        
        .experience{
            margin-right: 1rem;
        }
    }
    aside.technical-skills{
        grid-area: technical-skills;
        width: 20rem;
    }


}

@media only screen and (min-width: 1800px){
    html {
        font-size: 1.4rem;
    }
}

// HOME, ABOUT AND CONTACT STYLES

.fullscreen{
    width: calc(100vw);
    background-image: linear-gradient(-45deg, #0C0D16, #1A1C2B);
    height: 100%;
      
    .featured-section{
        padding: 6rem 0 2rem 0;
        background-color:black;
        color: white;
        text-align: center;
        font-size: 2em;
        height: calc(75% + 3rem);
        width: calc(100% - .05em);
        border-bottom: 1px solid #ED0982;
    }
    .Projects{
        width: 100vw;
        margin-top: 3rem;
        width: 75%;
        margin-left: 12.5%;

        .project-wrapper {
            color: white;
            display: flex;
            justify-content: start;
            width: 100%;
            background-color: #0C0D16;
            border: 0;
            transition: .3sec;
            margin-top: 1rem;
            margin-bottom: 1rem;

            .tags{
                font-size: 0.5rem;
                display: flex;
                justify-content: space-evenly;
                color: grey;
            }
            .thumbnail {
                left: 0;
                padding: 0;
                margin-right: 0.5rem;
                border-right: 1px solid #ED0982;

                .thumbnail-image{
                left: 0;
                height: 80px;
                width: 80px;
                }

            }

            .text-wrapper {
                margin-top: 15px;
                padding-top: 10px;

            }
            
        }

        .project-content{
            .link-projects{
                display: inline-block;
                justify-content: space-around;
                .link{
                    margin: 0.5px solid #ED0982;
                    background-color: none;
                    color: #ED0982;
                    text-decoration: none;
                }
            }
        }
    }

}



//ABOUT PAGE:
.about {
    display: grid;
    grid-template-columns: auto;

}
.about, .technical-skills, .personal-statement{
    margin-left: 3%;
    color: whitesmoke;
    padding: 1rem 0 0 0;
    font-size: 0.8em;
    text-align: left;

    h2, h3, h4 {
        font-weight: lighter; 
        color: #ED0982;
        font-size: 1.5rem;
        padding: 1rem 0;
        text-align: left;
    }

    h2{
        padding: 0.3rem 0 0;
    }
    h3{
        font-size: 1.2rem;
        padding-top: .3rem;
    }
    h4 {
        font-size: 1rem;
    }
}

.personal-statement{
    padding-top: 5rem;
}
.technical-skills{
    margin-top: -1rem;
    padding-left: 0;
    margin-left: 0;

    ul li{
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #ED0982;
    margin: 0.2em;
    border-radius: 2rem;
    }

    ul li:hover{
    background-color: yellow;
    color: #ED0982;
    }
}


