@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Maiandra GD";
  font-size: 16px;
}

body a:hover {
  text-decoration: none;
}

header {
  position: absolute;
  padding: 1em;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100vw);
  background: white;
}

header a {
  text-decoration: none;
  color: black;
}

header a.logo {
  font-weight: bold;
  text-transform: uppercase;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  padding: 1em;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.wrapper section {
  padding: 3em;
}

.wrapper section h1, .wrapper section h2, .wrapper section read-btn {
  text-transform: uppercase;
  margin: 0;
}

.wrapper section h2 {
  font-size: 1.2em;
}

.wrapper section .read-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background: url("../images/arrow.svg") no-repeat;
  background-size: 8px;
  background-position: 0 1px;
  padding-left: 1em;
}

.wrapper section .primary {
  padding: 1.5em 1.5em 1.5em calc(3em + 25px);
  background-position: 3em;
  border: 1px solid grey;
  display: inline-block;
  margin-top: 3em;
  margin-left: -3em;
  color: whitesmoke;
}

.wrapper section .clipper {
  overflow: hidden;
}

.wrapper section.hero {
  padding: 8em 8em 8em 2em;
  background: url("../images/programming-3201149_960_720.png");
  background-size: cover;
  color: whitesmoke;
}

.wrapper section.hero p {
  width: 70%;
  font-size: 1.2em;
  margin-bottom: 0;
}

.wrapper section.hero h1 {
  font-size: 2.2em;
}

.wrapper section.featured, .wrapper section.explore {
  font-size: .9em;
  line-height: 1.6em;
}

.wrapper section.featured {
  background-color: #5AA2FF;
}

.wrapper section.featured .read-btn {
  margin-top: 2em;
  display: block;
  background-position: 0 .2em;
}

.wrapper section.explore button {
  margin: 1em 0 1em 0;
  width: 100%;
  background: #5AA2FF;
  border: none;
  color: white;
  padding: 1em;
  font-family: inherit;
}

.fullscreen {
  width: calc(100vw);
  background-image: linear-gradient(-45deg, #0C0D16, #1A1C2B);
  height: 100%;
}

.fullscreen .featured-section {
  padding: 6em 0 2em 0;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.3em;
  height: calc(75% + 3em);
  width: calc(100% - .05em);
  border-bottom: 1px groove #ED0982;
}

.fullscreen .Projects {
  width: 100vw;
  margin-top: 3em;
  width: 75%;
  margin-left: 12.5%;
}

.fullscreen .Projects .project-wrapper {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  width: 100%;
  background-color: #0C0D16;
  border: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.fullscreen .Projects .project-wrapper .thumbnail {
  left: 0;
  padding: 0;
  margin-right: 0.5em;
  border-right: 1px groove #ED0982;
}

.fullscreen .Projects .project-wrapper .thumbnail .thumbnail-image {
  left: 0;
  height: 80px;
  width: 80px;
}

.fullscreen .Projects .project-wrapper .arrow-head {
  margin-top: 1.35em;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.fullscreen .Projects .project-wrapper arrow-head:hover {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  color: #ED0982;
}

.fullscreen .Projects .project-wrapper .tags {
  font-size: 0.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
}

.fullscreen .Projects .project-wrapper .tags span {
  margin: 0 0.5em;
}

.fullscreen .Projects .project-wrapper .tags span:nth-child(1) {
  margin-left: 0;
}

.fullscreen .Projects .project-wrapper .text-wrapper {
  margin-top: 15px;
  padding-top: 10px;
  width: calc(92% - 89px);
}

.fullscreen .Projects .project-content .link-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fullscreen .Projects .project-content .link-projects .link {
  margin: 0.5px solid #ED0982;
  background-color: none;
  color: #ED0982;
  text-decoration: none;
}

.fullscreen .link-buttons {
  display: -ms-grid;
  display: grid;
  margin: 1em 12.5% 0 12.5%;
  padding: 1em 0 1em 0;
}

.fullscreen .link-buttons div {
  padding: 1em;
  border: 1px dotted;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.fullscreen .link-buttons div:hover {
  background-color: #5AA2FF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fullscreen .link-buttons div:hover a {
  color: white;
}

.project-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: left;
      align-content: left;
  -webkit-transition: "all 3s";
  transition: "all 3s";
  width: 100%;
}

.project-content-wrapper .paragraph {
  color: rgba(245, 245, 245, 0.637);
  width: calc(100%);
}

.project-content-wrapper .content-image {
  display: block;
  padding: .5em;
}

.project-content-wrapper .content-image .project-image {
  height: 56.25%;
  width: 100%;
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1.5em 0 0 -.5em;
  padding: 0.3em;
}

.link-container .project-link {
  color: rgba(245, 245, 245, 0.637);
  padding: 0.5em;
  border-radius: .2em;
  text-align: center;
}

.link-container .project-link a:hover {
  color: #ED0982;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  line-height: 1.6em;
}

.about, .technical-skills, .personal-statement {
  margin-left: 3%;
  margin-right: 2%;
  color: rgba(245, 245, 245, 0.637);
  padding: 1em 0 0 0;
  font-size: 0.9em;
  text-align: left;
}

.about h2, .about h3, .about h4, .technical-skills h2, .technical-skills h3, .technical-skills h4, .personal-statement h2, .personal-statement h3, .personal-statement h4 {
  font-weight: lighter;
  color: #ED0982;
  font-size: 1.5em;
  padding: 1em 0;
  text-align: left;
}

.about h2, .technical-skills h2, .personal-statement h2 {
  padding: 0.3em 0 0;
}

.about h3, .technical-skills h3, .personal-statement h3 {
  font-size: 1.2em;
  padding-top: .3em;
}

.about h4, .technical-skills h4, .personal-statement h4 {
  font-size: 1em;
}

.personal-statement {
  padding-top: 6em;
}

.technical-skills {
  margin-top: -1em;
  padding-left: 0;
  margin-left: 0;
}

.technical-skills ul li {
  display: inline-block;
  padding: 0.5em;
  border: 1px hidden #ED0982;
  margin: 0.2em;
  border-radius: 2em;
}

.technical-skills ul li:hover {
  background-color: yellow;
  color: #ED0982;
}

.experience ul, .education ul {
  list-style: square inside none;
}

.experience ul li, .education ul li {
  margin: 0.5em 0;
}

.location-info {
  height: calc(110vh);
  width: calc(100% - 1em);
  padding: 2em 0 1em 0;
}

.contact-div {
  display: inline-block;
  padding: .5em;
  color: rgba(245, 245, 245, 0.637);
  margin: 3em 0 0 .3em;
  font-size: .8em;
}

.contact-div a:hover {
  text-decoration: none;
}

.contact-div .myform {
  margin: .5em 0;
}

.contact-div .myform div {
  padding: 0.2em;
  margin: 1em 1em -0.5em .1em;
  border: none;
  float: left;
}

@media only screen and (min-width: 480px) {
  .location-info {
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 1.2em;
  }
  .location-info {
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "personal-statement contact-div";
  }
  section.contact-div {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: contact-div;
  }
  .project-wrapper .tags span {
    font-size: 12.8px;
  }
  .personal-statement {
    width: calc(85%);
  }
}

@media only screen and (min-width: 1020px) {
  html {
    font-size: 1.3em;
  }
  header {
    background: none;
    width: calc(100vw - 1em);
  }
  header .logo {
    color: white;
  }
  header nav ul li a {
    color: ghostwhite;
  }
  .fullscreen .featured-section {
    padding: 3em 0 5sem 0;
  }
  .wrapper {
    -ms-grid-columns: 72.5% auto;
        grid-template-columns: 72.5% auto;
    -ms-grid-rows: 60% auto;
        grid-template-rows: 60% auto;
        grid-template-areas: "hero featured"  "hero explore";
    height: 100vh;
  }
  section.hero {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: hero;
  }
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .personal-statement {
    text-align: justify;
  }
  .project-content-wrapper {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "paragraph content-image" "paragraph link-container";
  }
  .paragraph {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: paragraph;
  }
  .content-image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: content-image;
  }
  .content-image .project-image {
    height: 180px;
    width: 320px;
  }
  .link-container {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: link-container;
    display: block;
    margin: 4em 0 0 6em;
  }
  .about {
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
        grid-template-areas: "experience technical-skills" "education technical-skills";
    height: 100%;
  }
  .about .experience {
    margin-right: 1em;
    border-right: 0.02px dotted;
    padding: 1em;
  }
  aside.technical-skills {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: technical-skills;
  }
  .location-info {
    height: 100vh;
  }
  .contacts {
    width: 20%;
    height: 18em;
    margin: 2.5em;
  }
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 1.4em;
  }
}
/*# sourceMappingURL=index.css.map */